<div *ngIf="usuario">
    <header>
        <div class="topbar d-flex align-items-center">
            <nav class="navbar navbar-expand">
                <div class="mobile-toggle-menu"><i class='bx bx-menu'></i>
                </div>
                <div class="search-bar flex-grow-1">
                    <div class="position-relative">
                        <h6>SISTEMA ADMINISTRATIVO</h6>
                    </div>
                </div>
                <div class="user-box dropdown">
                    <a (click)="mostrarOpciones()" class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                       
                        <img src="http://localhost/pos/assets/images/logo.png" class="user-img" alt="user avatar">
                        <div class="user-info ps-3">
                            <p class="user-name mb-0">{{nombre}} </p>
                            <p class="designattion mb-0">{{email}}</p>
                        </div>
                    </a>
                    <ul *ngIf="opciones" class="dropdown-menu dropdown-menu-end show">
                        <!-- <li><a class="dropdown-item" href=""><i class="bx bx-user"></i><span>Profile</span></a>
                        </li> -->
                        <!-- <li>
                            <div class="dropdown-divider mb-0"></div>
                        </li> -->
                        <li><a class="dropdown-item" (click)="logout()"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
</div>


