<div class="tab-pane p-3" id="nav-nuevo" role="tabpanel" aria-labelledby="nav-nuevo-tab" tabindex="0">
    <h5 class="card-title text-center">
        <i class="fas fa-user"></i> Agregar nueva categoria
    </h5>
    <hr _ngcontent-aig-c115="">
    <form id="formulario" autocomplete="">
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="nombre">Nombre <span class="text-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-list"></i></span>
                    <input class="form-control" type="text" name="nombre" id="nombre" placeholder="Nombre" [(ngModel)]="categoria_nombre">
                </div>
                <span id="errorNombre" class="text-danger"></span>
            </div>
        </div>
        <div class="text-end">
            <button class="btn btn-danger" routerLink="/categorias/lista" type="button" id="btnNuevo">Salir</button>
            <button class="btn btn-primary" type="button" (click)="registrar()" id="btnAccion">Registrar</button>
            <span class="spinner-border spinner-border-sm align-middle ms-2" *ngIf="isLoading | async"></span>
        </div>
    </form>
</div>
