<div class="wrapper" *ngIf="usuario">
    <!--sidebar wrapper -->
    <div class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <img src="http://localhost/pos/assets/images/logo.png" class="logo-icon" alt="logo icon">
            </div>
            <div>
                <h4 class="logo-text">PV</h4>
            </div>
            <div class="toggle-icon ms-auto">
                <i class='bx bx-arrow-to-left'>
                    
                </i>
            </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
            <li>
                <a href="">
                    <div class="parent-icon"><i class="fa-solid fa-house-user"></i>
                    </div>
                    <div class="menu-title">Tablero</div>
                </a>
            </li>
            
            <li>
                <a href="javascript:;" class="has-arrow">
                    <div class="parent-icon"><i class="fa-solid fa-screwdriver-wrench"></i>
                    </div>
                    <div class="menu-title">Administración</div>
                </a>
                <ul>
                        <li> <a href="" routerLink="/usuarios/lista"><i class="bx bx-right-arrow-alt"></i>Usuarios</a>
                        </li>
                        <li> <a href="" routerLink="/roles/lista"><i class="bx bx-right-arrow-alt"></i>Roles</a>
                        </li>
                        <li> <a href="" routerLink="/admin/configuracion"><i class="bx bx-right-arrow-alt"></i>Configuracion</a>
                        </li>
                        <li> <a href="" routerLink="/acceso/lista"><i class="bx bx-right-arrow-alt"></i>Log de Acceso</a>
                        </li>
                </ul>
            </li>
                <li>
                    <a href="javascript:;" class="has-arrow">
                        <div class="parent-icon"><i class="fa-solid fa-clipboard-list"></i>
                        </div>
                        <div class="menu-title">Mantenimiento</div>
                    </a>
                    <ul>
                            <li> <a href="" routerLink="/medidas/lista"><i class="bx bx-right-arrow-alt"></i>Medidas</a>
                            </li>
                            <li> <a href="" routerLink="/categorias/lista"><i class="bx bx-right-arrow-alt"></i>Categorias</a>
                            </li>

                            <li> <a href="" routerLink="/productos/lista"><i class="bx bx-right-arrow-alt"></i>Productos</a>
                            </li>
                    </ul>
                </li>

                <li>
                    <a href="" routerLink="/clientes/lista">
                        <div class="parent-icon"><i class="fa-solid fa-users"></i>
                        </div>
                        <div class="menu-title" >Clientes</div>
                    </a>
                </li>

                <li>
                    <a href="" routerLink="/proveedores/lista">
                        <div class="parent-icon"><i class="fa-solid fa-cart-flatbed-suitcase"></i>
                        </div>
                        <div class="menu-title" >Proveedores</div>
                    </a>
                </li>

                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-box-open"></i>
                        </div>
                        <div class="menu-title">Cajas</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-truck-fast"></i>
                        </div>
                        <div class="menu-title">Compras</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-cash-register"></i>
                        </div>
                        <div class="menu-title">Ventas</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-credit-card"></i>
                        </div>
                        <div class="menu-title">Administrar Creditos</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-rectangle-list"></i>
                        </div>
                        <div class="menu-title">Cotizaciones</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-people-arrows"></i>
                        </div>
                        <div class="menu-title">Apartados</div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="parent-icon"><i class="fa-solid fa-file-lines"></i>
                        </div>
                        <div class="menu-title">Inventario & Kardex</div>
                    </a>
                </li>
        </ul>
        <!--end navigation-->
    </div>
